html, body {
  overflow-x: hidden;
background-color: black;
}

.Navi a:link, a:active a:hover {
  text-decoration: none;
  color: grey;

}

.Navi a:visited {
  color: grey;
}

.hr {
  width: 100%;
  color:white;
}


.FrontHeader {
text-align: center;
    background: black;
    color: red;
    font-size: 35pt;
    font-family: fantasy;
width: 100%;
margin: 0;
position: absolute;
top: 0;
     left: 0;
     margin-right: none;
}

.Navi {
  text-align: center;
  background: black;
  color: white;
  font-size: 20pt;
  font-family: fantasy;
  width: 100%;
  margin: 0;
position: absolute;
  top: 40pt;
       left: 0;
 }

     .MainBody {
       background-image: url("WORK.jpg");
       width: 100%;
       margin: 0;
       height: 100%;
       top: 64pt;
            left: 0;
          position: absolute;
text-align: center;
}

.Blog {
  width: 520px;
    height: 430px;
    background: black;
    color: crimson;
    top:50%;
    left:50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    border: crimson;
    padding:70px 30px;

}

.Blog h {
  margin: 0;
  padding: 30px;
  text-align: center;
  font-size: 30pt;
  font-family: sans-serif;
}

.Blog input[type ="text"] {
  border-radius: 20px;
}

.Blog textarea {
  border-radius: 20px;
}

.Blog input,button {
  border-radius: 20px;
  background-color: black;
  border-color: crimson;
  color: white;
}

a.button {
  background-color: red;
  border: none;
  color: black;
  padding: 14px 30px;
  text-align: center;
  text-decoration: none;
 font-family: sans-serif;
  margin: 0;
  position: absolute;
  top: 95%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


 .Prev button {
  background-color: red;
  border: none;
  color: black;
  padding: 14px 30px;
  text-align: center;
  text-decoration: none;
 font-family: sans-serif;
  margin: 0;
  position: absolute;
  top: 105%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
